.navbar{
    padding: 2rem;
    background-color: lightgray;
    align-items: center;
}

.navbar-collanse{
    align-items: center;
    justify-content: center;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
}

h2{
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
}

h3{
        font-size: 2rem;
        font-family: 'Playfair Display', serif;
}

.sobre{
    background-color: black;
    min-height: 400px;
    text-align: center;
}

.sobre2{
    background-color: cornflowerblue;
    min-height: 400px;
    text-align: center;
}
.sobre2-principal{
    padding: 3rem;
}

.ancho{
    max-width: 767px;
}

.sobre-principal{
    padding: 3rem;
}

.sobre-img{
    width: 200px;
    height: 200px;
    margin: 20px;
}

/* Tecnologia */

.tecnologia{
    padding: 40px 40px 80px 40px;
    background-color: darkgray;
}

.tecnologia .carousel{
    max-width: 800px;
}

.carousel-item {
    height: 400px;
}

/* Contacto */

i{
    font-size: 300px;
    color: white;
}

.proyecto{
    background-color: dimgray;
    min-height: 400px;
    text-align: center;
}



@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
    
}













